# Visual Studio
.editorconfig
.vs/
Properties/
Visual Studio 2019/
Visual Studio 2019Templates/

# Visual Studio Code
.vscode/

# Backup by dotnet CLI
*.bak

# JetBrains IDE
.idea/

# Binary directories
bin/
obj/